In [7]:
import json
import pandas as pd
import numpy as np

In [2]:
 def to_df(c):
  with open(f'data/all{c}species.json', 'r') as f:
    data = json.load(f)
    df = pd.DataFrame(data['result'])
  return df

cameroon = to_df('CM')
gabon = to_df('GA')
congo = to_df('CG')
drc = to_df('CD')
eg = to_df('GQ')
car = to_df('CF')

In [6]:
all_species = cameroon.copy()
for df in [gabon, congo, drc, eg, car]:
    all_species = all_species.append(df)
    
all_species = all_species.drop_duplicates(['taxonid'])
all_species.drop('country', axis=1, inplace=True)

In [7]:
all_species.head()

    taxonid       scientific_name subspecies  rank subpopulation category
0    159883  Abisara rutherfordii       None  None          None       LC
1  13486514        Ablennes hians       None  None          None       LC
2  19891683    Abrus fruticulosus       None  None          None       DD
3    188581   Abudefduf saxatilis       None  None          None       LC
4    188434      Abudefduf taurus       None  None          None       LC

In [29]:
x = {'taxonid':[],'code':[], 'habitat':[], 'suitability':[], 'season':[], 'majorimportance':[]}
with open('data/sp_habitats.json', 'r') as f:
    data = json.load(f)
for i in data:
    for r in i['result']:
        x['taxonid'].append(i['id'])
        x['code'].append(r['code'])
        x['habitat'].append(r['habitat'])
        x['suitability'].append(r['suitability'])
        x['season'].append(r['season'])
        x['majorimportance'].append(r['majorimportance'])
            
habitats = pd.DataFrame(x)
habitats.head(20)

,taxonid,code,habitat,suitability,season,majorimportance
0,219,2.1,Savanna - Dry,Suitable,Resident,Yes
1,219,3.5,Shrubland - Subtropical/Tropical Dry,Suitable,Resident,Yes
2,219,4.4,Grassland - Temperate,Suitable,Resident,Yes
3,219,4.5,Grassland - Subtropical/Tropical Dry,Suitable,Resident,Yes
4,219,8.1,Desert - Hot,Suitable,Resident,Yes
5,219,8.2,Desert - Temperate,Suitable,Resident,Yes
6,550,2.1,Savanna - Dry,Suitable,Resident,Yes
7,550,3.5,Shrubland - Subtropical/Tropical Dry,Marginal,Resident,None
8,550,4.5,Grassland - Subtropical/Tropical Dry,Suitable,Resident,Yes
9,561,1.5,Forest - Subtropical/Tropical Dry,Marginal,None,None
10,561,1.6,Forest - Subtropical/Tropical Moist Lowland,Suitable,None,None
11,561,3.5,Shrubland - Subtropical/Tropical Dry,Suitable,None,None
12,561,5.1,Wetlands (inland) - Permanent Rivers/Streams/C...,Suitable,None,None
13,561,5.2,Wetlands (inland) - Seasonal/Intermittent/Irre...,Unknown,None,None
14,571,1.6,Forest - Subtropical/Tropical Moist Lowland,Suitable,None,None
15,571,2.2,Savanna - Moist,Suitable,None,None
16,571,4.6,Grassland - Subtropical/Tropical Seasonally We...,Suitable,None,None
17,572,1.5,Forest - Subtropical/Tropical Dry,Suitable,None,None
18,572,1.9,Forest - Subtropical/Tropical Moist Montane,Suitable,None,None
19,572,2.1,Savanna - Dry,Suitable,None,None

In [37]:
x = {'taxonid':[],'code':[], 'country':[], 'presence':[], 'origin':[], 'distribution':[]}
with open('data/sp_ctry_occur.json', 'r') as f:
    data = json.load(f)

for i in data:
    for r in i['result']:
        x['taxonid'].append(i['name'])
        x['code'].append(r['code'])
        x['country'].append(r['country'])
        x['presence'].append(r['presence'])
        x['origin'].append(r['origin'])
        x['distribution'].append(r['distribution_code'])
country_occurence = pd.DataFrame(x)
country_occurence.head()

  taxonid code       country           presence  origin        distribution
0     166   GA         Gabon             Extant  Native              Native
1     219   AF   Afghanistan  Extinct Post-1500  Native  Regionally Extinct
2     219   AO        Angola             Extant  Native              Native
3     219   BF  Burkina Faso             Extant  Native              Native
4     219   BI       Burundi  Extinct Post-1500  Native  Regionally Extinct

In [6]:
x = {'one':1, 'two':2}
'one' in x

True

In [10]:
x = {'taxonid':[]}
for year in range(1988, 2021):
    x[year] = []
    
with open('data/sp_hist_cats.json', 'r') as f:
    data = json.load(f)

for i in data:
    change_yrs = {}
    ind = 0
    start = int(i['result'][ind]['year'])
    while start > 1988:
        try:
            next = i['result'][ind+1]['year']
            change_yrs[start] = i['result'][ind]['category']
            ind += 1
            start = int(next)
        except:
            break
    x['taxonid'].append(i['name'])
    curr_cat = i['result'][ind]['category']
    
    for year in range(1982, 2021):
        if year < start:
            x[year].append(np.nan)
        else:
            if year in change_yrs:
                curr_cat = change_yrs[year]
            x[year].append(curr_cat)

pd.DataFrame(x)

,taxonid,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Deficient,...,Data Deficient,Data Deficient,Data Deficient,Data Deficient,Data Deficient,Data Deficient,Data Deficient,Data Deficient,Data Deficient,Data Deficient
1,219,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,...,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable,Vulnerable
2,550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower Risk/conservation dependent,...,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern
3,561,Rare,Rare,Rare,Rare,Rare,Rare,Rare,Rare,Endangered,...,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern
4,571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower Risk/least concern,...,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern,Least Concern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8744,157470471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Least Concern,Least Concern
8745,158690387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Least Concern,Least Concern
8746,158692226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Least Concern,Least Concern
8747,162471391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Endangered
8748,162471510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Least Concern